@import 'common/css/colors.scss';

.origin {
  position: relative;
}

.origin .origin-input {
  width: 100%;
  padding: 24px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: $secondary-bg-color;
  color: $white;
}

.origin .origin-input:focus {
  outline: none;
}

.origin .clear-origin {
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}

.origin .origin-suggestion {
  padding: 24px;
  cursor: pointer;
}

.origin .origin-suggestion:hover {
  background-color: #ec495a;
}
