$primary-bg-color: #110d1f;
$secondary-bg-color: #312d3f;
$white: #ffffff;
$col-2d293b: #2d293b;
$watermelon: #ec495a;
$white-20: #ffffff33;
$heather: #96949d;
$very-light-pink: #f2f2f2;
$slate-grey: #534f5e;
$watermelon-10: #ec495a19;
$very-light-pink-10: #f2f2f219;
